@mixin title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  color: #172432;
}
@mixin subtitle {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #767e86;
}
@mixin citymediascreen {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 40px 20px;
  width: 497px;
  height: 661px;
  border-radius: 16px;
}
@mixin underline {
  text-decoration: underline;
  text-underline-offset: 2rem;
  text-decoration-color: $primary-color;
}

$primary-color: #ff7757;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
main {
  padding-left: 1rem;
}
.header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/nico-schuth-sBUwDyjPvLM-unsplash.jpg);
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  .navbar__list {
    display: none;
  }
  .navbar__loginsubmit {
    display: none;
  }
}

.big-title {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 288px;
  .big-title__title {
    padding: 1.5rem 1rem;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    color: #ffffff;
  }
  .big-title__subtitle {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    margin-left: 1rem;
  }
}
.outer-form {
  padding: 1rem;
  margin-top: 5rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  width: 288px;
  background: #ffffff;
  border-radius: 16px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  .inner-form {
    display: flex;
    flex-direction: column;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    height: 0;
    .inner-form__input {
      border-style: none;
      border-bottom: solid;
    }
    .inner-form__book {
      width: 215px;
      height: 48px;
      font-family: "Playfair Display";
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 48px;
      flex: none;
      order: 0;
      flex-grow: 1;
      color: #ffffff;
      background-color: #ff7757;
      border-style: none;
    }
  }
  .inner-form.booknow {
    align-items: center;
    gap: 12px;
    width: 288px;
    height: 128px;
    background: #ff7757;
    border-radius: 0px 0px 16px 16px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
}
.destinations {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  color: #ffffff;
  &__title {
    width: 288px;
    height: 106px;
    @include title();
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  &__destinations {
    text-decoration: underline;
    text-underline-offset: 2rem;
    text-decoration-color: $primary-color;
  }
  &__text {
    width: 288px;
    height: 63px;
    @include subtitle();
  }
  &__arrows {
    display: flex;
    justify-content: center;
    width: 172px;
    height: 60px;
    gap: 40px;
    align-items: flex-start;
    margin-left: 3rem;
  }
}
.destinations-inner {
  display: flex;
  flex-direction: column;
}
.destinations-titlebox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.cities {
  &__berlin {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 40px 20px;
    width: 288px;
    height: 320px;
    background: linear-gradient(
        0deg,
        rgba(255, 119, 87, 0.1),
        rgba(255, 119, 87, 0.1)
      ),
      url(anthony-reungere-sjUufQqEnHI-unsplash.jpg);
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  &__millenium {
    display: none;
  }
  &__ritalo {
    display: none;
  }
}
.specialoffer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.specialoffer-title {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  &__arrows {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 172px;
    height: 60px;
    flex: none;
    order: 2;
    flex-grow: 0;
    padding-left: 3rem;
  }
  &__title {
    width: 288px;
    height: 53px;
    @include title();
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  &__span {
    text-decoration: underline;
    text-underline-offset: 2rem;
    text-decoration-color: $primary-color;
  }
  &__subtitle {
    width: 288px;
    height: 42px;
    @include subtitle();
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
}
.specialoffer-titlebox {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.specialoffer-lisbon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 288px;
  height: 675px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  background: #fff8f1;
  &__image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 40px 24px;
    width: 288px;
    height: 286px;
    background: linear-gradient(
        0deg,
        rgba(255, 119, 87, 0.1),
        rgba(255, 119, 87, 0.1)
      ),
      url(veronika-jorjobert-mR_AxcbVivg-unsplash.jpg);
    border-radius: 26px 26px 0px 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  &__submit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 248px;
    height: 114px;
    .details {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 16px 24px;
      gap: 4px;
      width: 127px;
      height: 56px;
      background: #ff7654;
      border-radius: 12px;
      color: white;
      border-style: none;
    }
  }
  &__title {
    @include subtitle();
  }
  &__p {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #172432;
  }
  &__from {
    width: 44px;
    height: 21px;
    @include subtitle();
  }
  &__price {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #ff7757;
  }
}
.specialoffer-athens {
  display: none;
}
.specialoffer-rome {
  display: none;
}

.blog-title {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  &__title {
    width: 159px;
    height: 53px;
    @include title();
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: underline;
    text-underline-offset: 2rem;
    text-decoration-color: $primary-color;
  }
  &__subtitle {
    width: 288px;
    height: 42px;
    @include subtitle();
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
}
.beautiful-italy {
  &__italy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px;
    gap: 4px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(josh-hild-K4WXehq5Alc-unsplash.jpg);
    border-radius: 26px;
  }
  &__beautiful_italy {
    width: 288px;
    height: 106px;
    @include title();
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  &__paragraph {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    color: #172432;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  &__readmore {
    width: 118px;
    height: 52px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 52px;
    color: #ff7757;
  }
  &__arrow {
    box-sizing: border-box;
    width: 27px;
    height: 0px;
    color: $primary-color;
    border: 2px solid $primary-color;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
}

.planners-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 3rem;
  gap: 6rem;
  width: 288px;
  &__title {
    @include title();
    @include underline();
  }
  &__subtitle {
    width: fit-content;
    height: 105px;
    @include subtitle();
  }
}
.planners-cities {
  width: fit-content;
  &__rating {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  &__price {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  &__trip {
    width: 186px;
    height: 61px;
    left: 0px;
    top: 242px;
    background-color: $primary-color;
    border-style: none;
    color: white;
    border-radius: 12px;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
.planners {
  &__trip2 {
    display: none;
  }
}
.experience-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 0.3rem;
  width: 288px;
  height: 222px;
  margin-left: 30px;
  &__title {
    width: 288px;
    height: 128px;
    @include title();
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  &__subtitle {
    width: 288px;
    height: 42px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #767e86;
  }
}
.travelers {
  position: relative;
  bottom: -30px;
  @media screen and (min-width: 700px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    &__avatar2 {
      width: 100px;
      height: 100px;
      position: relative;
      top: -50px;
      z-index: 10;
    }
    &__avatar3 {
      width: 100px;
      height: 100px;
      position: relative;
      top: -50px;
      z-index: 10;
    }
    .travelers-container {
      display: flex;
      width: 25rem;
      justify-content: space-around;
      flex-direction: column;
      gap: 0.3rem;
      height: 25rem;
      &__paragraph {
        display: grid;
      }
    }
    .travelers-container1 {
      position: relative;
      display: initial;
      width: 25rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 0.3rem;
      background-color: #f5f6f7;
      height: 25rem;
      &__paragraph {
        display: grid;
        background-color: #f5f6f7;
        line-height: 23px;
        font-size: 18px;
        padding: 20px 20px 32px;
      }
    }
    .travelers-container2 {
      display: initial;
      width: 25rem;
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      background-color: #f5f6f7;
      height: 25rem;
      &__paragraph {
        display: grid;
        background-color: #f5f6f7;
        line-height: 23px;
        font-size: 18px;
        padding: 20px 20px 32px;
      }
    }
  }
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__avatar1 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    z-index: 10;
  }
  &__paragraph {
    background-color: #f5f6f7;
    line-height: 23px;
    font-size: 18px;
    padding: 60px 20px 32px;
  }
  &__name {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #767e86;
  }
  &__occupation {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #767e86;
  }
}
.travelers-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  background-color: #f5f6f7;
}
.travelers-container1 {
  display: none;
}
.travelers-container2 {
  display: none;
}
.travelers-arrows {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}
.newsletter {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  gap: 30px;
  @media screen and (min-width: 700px) {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-left: 15rem;
    bottom: 60px;
  }
  &__title {
    width: 248px;
    height: 106px;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    color: #767e86;
  }
}
.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: fit-content;
  gap: 32px;
  padding: 40px 20px;
  @media screen and (min-width: 700px) {
    display: flex;
    flex-direction: row;
  }
  &__label {
    color: #767e86;
  }
  &__input {
    width: 248px;
    height: 72px;
    background: #ffe8d4;
    border-style: none;
    border-radius: 12px;
  }
  &__subscribe {
    background: #ff7757;
    border-radius: 12px;
    border-style: none;
    width: 248px;
    height: 72px;
    color: white;
    font-size: 1.2rem;
  }
}
.footer {
  position: relative;
  background: #172432;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  width: 100%;
  @media screen and (min-width: 700px) {
    width: 100%;
  }
}
.footer-title {
  &__copyright {
    color: #ffffff;
  }
}
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1.5rem;
  color: white;
  &__title {
    font-size: 1.5rem;
  }
  &__list {
    list-style: none;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.footer-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1.5rem;
  color: white;
  &__title {
    font-size: 1.5rem;
  }
  &__list {
    list-style: none;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1.5rem;
  color: white;
  &__title {
    font-size: 1.5rem;
  }
  &__list {
    list-style: none;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.footer-socials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1.5rem;
  color: white;
  &__follow {
    font-size: 1.5rem;
  }
  &__icon {
    list-style: none;
    font-size: 1.1rem;
    gap: 1rem;
    margin: 0.7rem;
  }
}

@media screen and (min-width: 700px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    .navbar__list {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
      list-style: none;
    }
    .navbar__loginsubmit {
      display: flex;
      flex-direction: row;
      gap: 3rem;
    }
    &__submit {
      width: 135px;
      height: 64px;
      background: $primary-color;
      border-radius: 12px;
      border-style: none;
      color: white;
    }
    &__burger {
      display: none;
    }
  }
  .big-title {
    width: 100%;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 6rem;
    line-height: 112px;
    color: #ffffff;
  }
  .form {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  .inner-form {
    flex-direction: column;
    justify-content: flex-start;
  }
  .cities {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &__berlin {
      @include citymediascreen();
    }
    &__millenium {
      @include citymediascreen();
    }
    &__ritalo {
      @include citymediascreen();
    }
  }
  .destinations-inner {
    flex-direction: row;
    justify-content: space-between;
  }
  .destinations {
    &__arrows {
      margin-top: 5rem;
      margin-right: 5rem;
    }
    &__text {
      width: 100%;
    }
  }
  .specialoffer-title {
    flex-direction: row-reverse;
    justify-content: space-between;
    &__subtitle {
      width: 100%;
      padding-right: 3rem;
    }
  }
  .specialoffer-cities {
    display: flex;
    flex-direction: row;
  }
  .specialoffer-lisbon {
    display: flex;
    flex-direction: column;
    width: 437.33px;
    height: 629px;
  }
  .specialoffer-athens {
    display: flex;
    flex-direction: column;
    width: 437.33px;
    height: 629px;
    gap: 32px;
  }
  .specialoffer-rome {
    display: flex;
    flex-direction: column;
    width: 437.33px;
    height: 629px;
    gap: 32px;
  }
  .blog-title {
    &__subtitle {
      width: 100%;
      font-size: 24px;
    }
  }
  .beautiful-italy {
    flex-direction: row;
    justify-content: space-around;
    &__paragraph {
      width: auto;
    }
  }
  .planners-head {
    width: 100%;
    height: auto;
    &__subtitle {
      width: auto;
      height: auto;
    }
  }
  .planners-cities {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-top: 3rem;
    &__trip {
      display: none;
    }
    &__guidedtour {
      display: none;
    }
    &__guidedtour {
      display: none;
    }
    &__euros {
      display: none;
    }
    &__stars {
      display: none;
    }
    &__tour {
      display: none;
    }
    &__title {
      display: none;
    }
  }
  .planners {
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__trip2 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 186px;
      height: 61px;
      top: 242px;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      background-color: $primary-color;
      border-style: none;
      color: white;
      border-radius: 12px;
      margin-top: 3rem;
      margin-left: 50%;
      margin-bottom: 3rem;
      padding-left: 0.7rem;
    }
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    gap: 3rem;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0;
    padding: 8rem;
  }
  .footer-title {
    justify-self: start;
  }
  .footer-socials {
    &__icons {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
