* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: bisque;
}
.nav-section-1 {
  display: flex;
  justify-content: space-between;
}
.form {
  display: flex;
  flex-direction: column;
}
