$primary-color: #ff7757;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
}
main {
  padding-left: 1rem;
}
.header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/nico-schuth-sBUwDyjPvLM-unsplash.jpg);
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  .navbar__list {
    display: none;
  }
  .navbar__loginsubmit {
    display: none;
  }
}

.big-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 288px;
  .big-title__title {
    padding: 1.5rem 1rem;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    color: #ffffff;
  }
  .big-title__subtitle {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    margin-left: 1rem;
  }
}
.outer-form {
  padding: 1rem;
  margin-top: 5rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  width: 288px;
  background: #ffffff;
  border-radius: 16px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  .inner-form {
    display: flex;
    flex-direction: column;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    height: 0;
    .inner-form__input {
      border-style: none;
      border-bottom: solid;
    }
    .inner-form__book {
      width: 215px;
      height: 48px;
      font-family: "Playfair Display";
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 48px;
      flex: none;
      order: 0;
      flex-grow: 1;
      color: #ffffff;
      background-color: #ff7757;
      border-style: none;
    }
  }
  .inner-form.booknow {
    align-items: center;
    gap: 12px;
    width: 288px;
    height: 128px;
    background: #ff7757;
    border-radius: 0px 0px 16px 16px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
}
.destinations {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  color: #ffffff;
  &__title {
    width: 288px;
    height: 106px;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    color: #172432;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  &__destinations {
    text-decoration: underline;
    text-underline-offset: 2rem;
    text-decoration-color: $primary-color;
  }
  &__text {
    width: 288px;
    height: 63px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #767e86;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  &__arrows {
    display: flex;
    justify-content: center;
    width: 172px;
    height: 60px;
    gap: 40px;
    align-items: flex-start;
    margin-left: 3rem;
  }
}
.destinations-inner {
  display: flex;
  flex-direction: column;
}
.destinations-titlebox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.cities {
  &__berlin {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 40px 20px;
    width: 288px;
    height: 320px;
    background: linear-gradient(
        0deg,
        rgba(255, 119, 87, 0.1),
        rgba(255, 119, 87, 0.1)
      ),
      url(anthony-reungere-sjUufQqEnHI-unsplash.jpg);
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  &__millenium {
    display: none;
  }
  &__ritalo {
    display: none;
  }
}
.specialoffer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.specialoffer-title {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  &__arrows {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 172px;
    height: 60px;
    flex: none;
    order: 2;
    flex-grow: 0;
    padding-left: 3rem;
  }
  &__title {
    width: 288px;
    height: 53px;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    color: #172432;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  &__span {
    text-decoration: underline;
    text-underline-offset: 2rem;
    text-decoration-color: $primary-color;
  }
  &__subtitle {
    width: 288px;
    height: 42px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #767e86;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
}
.specialoffer-titlebox {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.specialoffer-lisbon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 288px;
  height: 675px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  background: #fff8f1;
  &__image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 40px 24px;
    width: 288px;
    height: 286px;
    background: linear-gradient(
        0deg,
        rgba(255, 119, 87, 0.1),
        rgba(255, 119, 87, 0.1)
      ),
      url(veronika-jorjobert-mR_AxcbVivg-unsplash.jpg);
    border-radius: 26px 26px 0px 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  &__submit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 248px;
    height: 114px;
    .details {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 16px 24px;
      gap: 4px;
      width: 127px;
      height: 56px;
      background: #ff7654;
      border-radius: 12px;
      flex: none;
      order: 1;
      flex-grow: 0;
      color: white;
      border-style: none;
    }
  }
  &__title {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;

    color: #767e86;
  }
  &__p {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #172432;
  }
  &__from {
    width: 44px;
    height: 21px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #767e86;
  }
  &__price {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #ff7757;
  }
}
.specialoffer-athens {
  display: none;
}
.specialoffer-rome {
  display: none;
}

.blog-title {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  &__title {
    width: 159px;
    height: 53px;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    color: #172432;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: underline;
    text-underline-offset: 2rem;
    text-decoration-color: $primary-color;
  }
  &__subtitle {
    width: 288px;
    height: 42px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #767e86;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
}
.beautiful-italy {
  &__italy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px;
    gap: 4px;
    width: 288px;
    height: 314px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(josh-hild-K4WXehq5Alc-unsplash.jpg);
    border-radius: 26px;
  }
  &__beautiful_italy {
    width: 288px;
    height: 106px;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    color: #172432;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  &__paragraph {
    width: 288px;
    height: 672px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    color: #172432;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  &__readmore {
    width: 118px;
    height: 52px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 52px;
    color: #ff7757;
  }
  &__arrow {
    box-sizing: border-box;
    width: 27px;
    height: 0px;
    border: 2px solid #ff7757;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
}
.planners-head {
  &__title {
    width: 246px;
    height: 53px;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    color: #172432;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  &__subtitle {
    width: 288px;
    height: 105px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #767e86;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
}

.planners-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 288px;
  height: 303px;
  flex: none;
  order: 0;
  flex-grow: 1;
  &__title {
    width: 246px;
    height: 53px;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    color: #172432;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  &__subtitle {
    width: fit-content;
    height: 105px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #767e86;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
}
.planners-cities {
  width: fit-content;
  &__rating {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  &__price {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
.experience-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 288px;
  height: 222px;
  margin-left: 30px;
  &__title {
    width: 288px;
    height: 128px;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    color: #172432;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  &__subtitle {
    width: 288px;
    height: 42px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #767e86;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
}
.travelers {
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__avatar1 {
    width: 100px;
    height: 100px;
    position: relative;
  }
  &__paragraph {
    background-color: #f5f6f7;
    line-height: 23px;
    font-size: 18px;
    padding: 60px 20px 32px;
  }
  &__name {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #767e86;
  }
  &__occupation {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #767e86;
  }
}
.travelers-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f5f6f7;
}
.travelers-container1 {
  display: none;
}
.travelers-container2 {
  display: none;
}
.travelers-arrows {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}
.newsletter {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  gap: 30px;
  &__title {
    width: 248px;
    height: 106px;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    color: #767e86;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
}
.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: fit-content;
  gap: 32px;
  padding: 40px 20px;
  &__label {
    color: #767e86;
  }
  &__input {
    width: 248px;
    height: 72px;
    background: #ffe8d4;
    border-style: none;
    border-radius: 12px;
  }
  &__subscribe {
    background: #ff7757;
    border-radius: 12px;
    border-style: none;
    width: 248px;
    height: 72px;
    color: white;
    font-size: 1.2rem;
  }
}
.footer {
  background: #172432;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}
.footer-title {
  &__copyright {
    color: #ffffff;
  }
}
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1.5rem;
  color: white;
  &__title {
    font-size: 1.5rem;
  }
  &__list {
    list-style: none;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.footer-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1.5rem;
  color: white;
  &__title {
    font-size: 1.5rem;
  }
  &__list {
    list-style: none;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1.5rem;
  color: white;
  &__title {
    font-size: 1.5rem;
  }
  &__list {
    list-style: none;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.footer-socials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1.5rem;
  color: white;
  &__follow {
    font-size: 1.5rem;
  }
  &__icon {
    list-style: none;
    font-size: 1.1rem;
    gap: 1rem;
    margin: 0.7rem;
  }
}

@media screen and (min-width: 700px) {
}
